<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}

{% block title %}Все новости{% endblock title %}

{% block content %}
    <h3>Все новости</h3>
    <hr>
    Всего новостей: {{all_news|length}}
    <hr>
    {% if all_news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
            </tr>
            {% for post in all_news %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.timeAdding|date:'d/m/Y'}}</td>
                <td>{{post.text|truncatewords:20}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}