{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} {{ post_detail.title }} {% endblock title %}

{% block content %}
    <td><h3>{{post_detail.title|censor}}</h3></td>
    <hr>
    <td>{{post_detail.timeAdding|date:'d/m/Y'}}</td>
    <hr>
    <td>
        Рубрика:
        {% for cat in post_detail.postCategory.all %}
        <a href="{% url 'category_detail' cat.id %}">{{ cat.name }}</a>
        {% endfor %}
    </td>
    <hr>
    <td>{{post_detail.text|censor}}</td>
{% endblock content %}

{% block footer %}
    <a href="{% url 'news_list' %}">К списку новостей</a>
{% endblock footer %}